datasets/jll/demographics-data/public/templates/logicApp/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "defaultValue": "TeamsNotify",
            "type": "String"
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources."
            }
        }
    },
    "variables": {
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "location": "[parameters('location')]",
            "name": "msftTeamsConnectionAuth",
            "tags": {
                "Environment": "Public",
                "AssociatedDataSet": "CovidBritishColumbia"
            },
            "properties": {
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams')]"
                },
                "displayName": "msftTeamsConnectionAuth"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "eastus",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections/', 'msftTeamsConnectionAuth')]"
            ],
            "tags": {
                "Environment": "Public",
                "AssociatedDataSet": "CovidBritishColumbia"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "context": {
                                                            "properties": {
                                                                "condition": {
                                                                    "properties": {
                                                                        "allOf": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "dimensions": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "name": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "value": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "required": [
                                                                                                "name",
                                                                                                "value"
                                                                                            ],
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    },
                                                                                    "metricName": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "metricNamespace": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "metricValue": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "operator": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "threshold": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "timeAggregation": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "webTestName": {}
                                                                                },
                                                                                "required": [
                                                                                    "metricName",
                                                                                    "metricNamespace",
                                                                                    "operator",
                                                                                    "threshold",
                                                                                    "timeAggregation",
                                                                                    "dimensions",
                                                                                    "metricValue",
                                                                                    "webTestName"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "windowSize": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "conditionType": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "portalLink": {
                                                                    "type": "string"
                                                                },
                                                                "resourceGroupName": {
                                                                    "type": "string"
                                                                },
                                                                "resourceId": {
                                                                    "type": "string"
                                                                },
                                                                "resourceName": {
                                                                    "type": "string"
                                                                },
                                                                "resourceType": {
                                                                    "type": "string"
                                                                },
                                                                "severity": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptionId": {
                                                                    "type": "string"
                                                                },
                                                                "timestamp": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "properties": {},
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "schemaId": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Connection": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "Expect": {
                                                    "type": "string"
                                                },
                                                "Host": {
                                                    "type": "string"
                                                },
                                                "User-Agent": {
                                                    "type": "string"
                                                },
                                                "X-CorrelationContext": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Switch": {
                            "cases": {
                                "Case": {
                                    "actions": {
                                        "Post_a_message_(V3)": {
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Pipeline Failure Alert<br>\n<br>\nAlert generated by resource :</strong> @{triggerBody()['data']['context']['id']} &nbsp;&nbsp;<br>\n<strong>Alert name:</strong> @{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description:</strong> @{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>At time:</strong> @{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>ResourceGroup Name:</strong> @{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name:</strong> @{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type:</strong> @{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Failed Pipeline Name:</strong> @{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}<br>\n<strong>Failure Type:</strong> @{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "case": "PipelineFailedRuns"
                                },
                                "Case_2": {
                                    "actions": {
                                        "Post_a_message_(V3)_2": {
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Pipeline Cancellation Alert<br>\n<br>\nAlert generated by resource : </strong>@{triggerBody()['data']['context']['id']} &nbsp;&nbsp;<br>\n<strong>Alert name: </strong>@{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description: </strong>@{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>At time: </strong>@{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>ResourceGroup Name: </strong>@{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name: </strong>@{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type: </strong>@{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Cancelled Pipeline Name:</strong> @{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "case": "PipelineCancelledRuns"
                                },
                                "Case_3": {
                                    "actions": {
                                        "Post_a_message_(V3)_3": {
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Activity Failure Alert<br>\n<br>\nAlert generated by resource : </strong>@{triggerBody()['data']['context']['id']} &nbsp;&nbsp;<br>\n<strong>Alert name: </strong>@{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description: </strong>@{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>At time: </strong>@{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>ResourceGroup Name: </strong>@{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name: </strong>@{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type: </strong>@{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Failed Activity Type: </strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}<br>\n<strong>Failed Activity Name: </strong>@{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}<br>\n<strong>Failure Type: </strong>@{triggerBody().data.context.condition.allOf[0].dimensions[4]['value']}&nbsp;</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "case": "ActivityFailedRuns"
                                },
                                "Case_4": {
                                    "actions": {
                                        "Post_a_message_(V3)_4": {
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Activity Cancellation Alert</strong><br>\n<br>\n<strong>Alert generated by resource : </strong>@{triggerBody()['data']['context']['id']} &nbsp;&nbsp;<br>\n<strong>Alert name: </strong>@{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description: </strong>@{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>At time: </strong>@{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>ResourceGroup Name: </strong>@{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name: </strong>@{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type: </strong>@{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Cancelled Activity Type: </strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}<br>\n<strong>Cancelled Activity Name: </strong>@{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}<br>\n&nbsp;</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "case": "ActivityCancelledRuns"
                                },
                                "Case_5": {
                                    "actions": {
                                        "Post_a_message_(V3)_5": {
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Trigger Failure Alert</strong><br>\n<br>\n<strong>Alert generated by resource: </strong>@{triggerBody()['data']['context']['id']} &nbsp;&nbsp;<br>\n<strong>Alert name: </strong>@{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description: </strong>@{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>At time: </strong>@{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>ResourceGroup Name: </strong>@{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name: </strong>@{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type: </strong>@{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Failed Trigger Name: </strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}<br>\n<strong>Failure Type: </strong>@{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "case": "TriggerFailedRuns"
                                },
                                "Case_6": {
                                    "actions": {
                                        "Post_a_message_(V3)_6": {
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Trigger Cancellation Alert</strong><br>\n<br>\n<strong>Alert generated by resource : </strong>@{triggerBody()['data']['context']['id']} &nbsp;&nbsp;<br>\n<strong>Alert name: </strong>@{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description: </strong>@{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>At time: </strong>@{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>ResourceGroup Name: </strong>@{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name: </strong>@{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type: </strong>@{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Cancelled Trigger Name: </strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "case": "TriggerCancelledRuns"
                                },
                                "Case_7": {
                                    "actions": {
                                        "Switch_2": {
                                            "cases": {
                                                "Case": {
                                                    "actions": {
                                                        "Post_a_message_(V3)_7": {
                                                            "inputs": {
                                                                "body": {
                                                                    "body": {
                                                                        "content": "<p><strong>Current Schema Has Less Columns Alert <br>\n<br>\nAlert generated by resource : </strong>@{triggerBody()['data']['context']['id']} &nbsp;&nbsp;<br>\n<strong>Alert name: </strong>@{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description: </strong>@{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>At time: </strong>@{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>ResourceGroup Name: </strong>@{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name: </strong>@{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type: </strong>@{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;</p>",
                                                                        "contentType": "html"
                                                                    }
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/v3/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "SourceCurrentSchemaWithLessColumnsAlert"
                                                },
                                                "Case_2": {
                                                    "actions": {
                                                        "Post_a_message_(V3)_8": {
                                                            "inputs": {
                                                                "body": {
                                                                    "body": {
                                                                        "content": "<p><strong>Current Schema Has More Columns Alert <br>\n<br>\nAlert generated by resource : </strong>@{triggerBody()['data']['context']['id']} &nbsp;&nbsp;<br>\n<strong>Alert name: </strong>@{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description: </strong>@{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>At time: </strong>@{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>ResourceGroup Name: </strong>@{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name: </strong>@{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type: </strong>@{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;</p>",
                                                                        "contentType": "html"
                                                                    }
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/v3/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "SourceCurrentSchemaWithMoreColumnsAlert"
                                                },
                                                "Case_3": {
                                                    "actions": {
                                                        "Post_a_message_(V3)_9": {
                                                            "inputs": {
                                                                "body": {
                                                                    "body": {
                                                                        "content": "<p><strong>Current Schema Has Different Columns Alert<br>\n<br>\nAlert generated by resource : </strong>@{triggerBody()['data']['context']['id']} &nbsp;&nbsp;<br>\n<strong>Alert name: </strong>@{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description: </strong>@{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>At time: </strong>@{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>ResourceGroup Name: </strong>@{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name: </strong>@{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type: </strong>@{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;</p>",
                                                                        "contentType": "html"
                                                                    }
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/v3/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "SourceCurrentSchemaWithSameNumberOfColumnsButDifferentNamesOrArrangementAlert"
                                                },
                                                "Case_4": {
                                                    "actions": {
                                                        "Post_a_message_(V3)_10": {
                                                            "inputs": {
                                                                "body": {
                                                                    "body": {
                                                                        "content": "<p><strong>Data Type in Columns Change Alert</strong><br>\n<br>\n<strong>Alert generated by resource :</strong> @{triggerBody()['data']['context']['id']} &nbsp;&nbsp;<br>\n<strong>Alert name:</strong> @{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description:</strong> @{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>At time:</strong> @{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>ResourceGroup Name:</strong> @{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name:</strong> @{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type: </strong>@{triggerBody()['data']['context']['resourceType']}&nbsp;</p>",
                                                                        "contentType": "html"
                                                                    }
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/v3/beta/teams/@{encodeURIComponent('')}/channels/@{encodeURIComponent('')}/messages"
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "DataTypeChangeAlert"
                                                }
                                            },
                                            "default": {
                                                "actions": {}
                                            },
                                            "expression": "@{triggerBody()['data']['context']['name']}",
                                            "runAfter": {},
                                            "type": "Switch"
                                        }
                                    },
                                    "case": "ActivitySucceededRuns"
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@triggerBody().data.context.condition.allOf[0].metricName",
                            "runAfter": {},
                            "type": "Switch"
                        }
                    },
                    "outputs": {
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'msftTeamsConnectionAuth')]",
                                "connectionName": "teams-1",
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'teams')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "WebHookURI": {
          "type": "string",
          "value": "[listCallbackURL(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'manual'), '2019-05-01').value]"
        }
      }
}